  #header{
    text-align: center;
  }
  body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    color: white;
    background-image: url(blue.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }
#pattyImg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 250px;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 0px;
  padding: 0px;
}

h2{
  margin-top: 0px;
  margin-bottom: 0px;
}
#addBurgerBlock{
  text-align: center;
}
.grid-item{
  margin-left: 200px;
}